bck/
tmp/logs/access_log
tmp/logs/error_log
tmp/logs/service_log
config/config.php
**/*.swp
**/*.sqlite
public/data/berkas/*
public/data/formulir/*
public/data/foto/*
public/tmp/*
!public/data/berkas/.gitfile
!public/data/formulir/.gitfile
!public/data/foto/.gitfile
!public/tmp/.gitfile
testing/*
